<!-- Header -->
<header th:fragment="header">
    <nav>
        <div class="logo">
            <h1>Handy</h1>
            <a href="/"><img th:src="@{/icons/handy-icon-128.png}" alt="Handy LOGO"></a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
        <div class="header-lists">
            <ul>
                <li><a href="/handymen">Handymen</a></li>
                <li><a href="/ads">Advertisements</a></li>
            </ul>
            <ul class="login-list">
                <li th:if="${LoggedInUser}"><img th:src="@{/icons/messenger.png}" class="user-photo"></li>
                <li th:if="${LoggedInUser}"><a href="/myMessages">My messages</a></li>
                <li><img th:src="@{/icons/user_1.png}" class="user-photo"></li>
                <li th:unless="${LoggedInUser}" class="login-href"><a href="/login">Log in</a></li>
                <li th:if="${LoggedInUser}" class="login-href"><a href="/myprofile"><p th:text="${LoggedInUser.name}"></p></a></li>
            </ul>
        </div>
    </nav>
</header>