* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: #000;
    cursor: pointer;
}

button a {
    text-decoration: none;
}

.dropbtn {
    background-color: rgb(224, 158, 82);
    color:#000;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(168, 119, 63);
}

textarea {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: rgb(224, 158, 82);
    height: 70px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3; }
header h1 {
    display: none; }
header nav {
    align-items: center;
    display: flex;
    height: 70px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%; }
header .logo {
    height: 100%;
    object-fit: contain;
    font-size: 0;
    margin-right: 1rem; }
header img {
    height: 100%; }
header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 13rem; }
header a {
    color: black;
    font-size: 15px; }
header a:hover {
    color: #555555; }
header .menu-btn {
    display: none; }
header .menu-icon {
    cursor: pointer;
    display: none;
    padding: 1.3rem 0;
    position: relative; }
header .nav-icon, header .nav-icon::before, header .nav-icon::after {
    background-color: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color 200ms ease-out;
    width: 30px; }
header .nav-icon::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 10px;
    transition: all 200ms ease-out;
    width: 100%; }
header .nav-icon::after {
    content: '';
    height: 100%;
    position: absolute;
    top: -10px;
    transition: all 200ms ease-out;
    width: 100%; }
@media (max-width: 1200px) {
    header nav {
        padding: 0 1rem; } }
@media (max-width: 630px) {
    header img {
        height: 46px; }
    header .menu-icon {
        display: block; }
    header .hidden {
        display: block; }
    header .logo {
        padding-top: 13px; }
    header ul {
        align-items: center;
        background-color: #eeeaea;
        display: flex;
        flex-direction: column;
        height: 20rem;
        justify-content: space-around;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 69px;
        transition: max-height 300ms ease-in-out;
        width: 100%;
        -moz-box-shadow: 0px 15px 10px -15px #111;
        -webkit-box-shadow: 0px 15px 10px -15px #111;
        box-shadow: 0px 15px 10px -15px #111; }
    header ul a {
        color: black;
        font-size: 1.7rem;
        line-height: 3rem;
        width: 100%;
        padding-right: 1rem;
        display: block; }
    header li {
        width: 100%;
        background-color: #d1cece71;
        text-align: right; } }

.user-photo {
    max-height: 1.8rem;
    margin-left: 1rem;
}

.login-href {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-list {
    justify-content: right;
    align-items: center;
    width: auto;
}

.login-list a{
    margin-left: 0.5rem;
}

.header-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-btn:checked ~ ul {
    max-height: 100vh; }

.menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent; }

.menu-btn:checked ~ .menu-icon .nav-icon::before {
    background-color: black;
    top: 0;
    transform: rotate(-45deg); }

.menu-btn:checked ~ .menu-icon .nav-icon::after {
    background-color: black;
    top: 0;
    transform: rotate(45deg); }

footer {
    background-color: #303030;
    color: #fff;
    padding-bottom: 1rem; }
footer a {
    color: #fff; }
footer a:hover {
    text-decoration: underline; }
footer .footer_title {
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem; }
footer .contact {
    margin-bottom: 1rem; }
footer .contact div {
    margin-bottom: 0.5rem; }
footer .address {
    margin-bottom: 1rem; }
footer .socials {
    display: flex;
    flex-direction: row-reverse; }
@media (max-width: 630px) {
    footer .socials {
        flex-direction: row; } }
footer .socials div {
    padding-right: 1rem; }
footer .social {
    height: 2rem;
    object-fit: contain;
    display: flex;
    margin-bottom: 1rem;
    align-items: center; }
footer .social img {
    max-height: 100%;
    max-width: 100%; }
footer .social p {
    margin-left: 0.5rem; }
footer button, footer .store .menu a, .store .menu footer a {
    color: #fff;
    border-color: #fff; }
footer button:hover, footer .store .menu a:hover, .store .menu footer a:hover {
    background-color: #fff;
    color: #000; }
footer button:active, footer .store .menu a:active, .store .menu footer a:active {
    background-color: transparent;
    color: #fff; }
footer .terms-logos {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
footer .card-logos {
    height: 1rem;
    display: flex;
    justify-content: space-between; }
footer .card-logos img {
    height: 100%;
    margin-left: 0.2rem;
    margin-right: 0.2rem; }
footer .terms {
    display: flex;
    align-items: center; }
footer .terms a {
    font-size: 0.7rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }

@media (max-width: 630px) {
    footer h2 {
        margin-left: 8.33333%;
        margin-top: 0.5rem; }
    .contact-button.left {
        display: none; }
    footer .terms-logos {
        flex-direction: column;
        align-items: center; }
    .card-logos {
        margin-bottom: 0.5rem; }
    footer .terms a {
        font-size: 0.5rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem; } }

@media (min-width: 630px) {
    .contact-button.right {
        display: none; } }

footer {
    background-color: #303030;
    color: #fff;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
footer a {
    color: #fff; }
footer a:hover {
    text-decoration: underline; }
footer .footer_title {
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem; }
footer .contact {
    margin-bottom: 1rem; }
footer .contact div {
    margin-bottom: 0.5rem; }
footer .address {
    margin-bottom: 1rem; }
footer .socials {
    display: flex;
    flex-direction: row-reverse; }
@media (max-width: 630px) {
    footer .socials {
        flex-direction: row; } }
footer .socials div {
    padding-right: 1rem; }
footer .social {
    height: 2rem;
    object-fit: contain;
    display: flex;
    margin-bottom: 1rem;
    align-items: center; }
footer .social img {
    max-height: 100%;
    max-width: 100%; }
footer .social p {
    margin-left: 0.5rem; }
footer button, footer .store .menu a, .store .menu footer a {
    color: #fff;
    border-color: #000; }
footer button:hover, footer .store .menu a:hover, .store .menu footer a:hover {
    background-color: #fff;
    color: #000; }
footer button:active, footer .store .menu a:active, .store .menu footer a:active {
    background-color: transparent;
    color: #fff; }
footer .terms-logos {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
footer .card-logos {
    height: 1rem;
    display: flex;
    justify-content: space-between; }
footer .card-logos img {
    height: 100%;
    margin-left: 0.2rem;
    margin-right: 0.2rem; }
footer .terms {
    display: flex;
    align-items: center; }
footer .terms a {
    font-size: 0.7rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }

@media (max-width: 630px) {
    footer h2 {
        margin-left: 8.33333%;
        margin-top: 0.5rem; }
    .contact-button.left {
        display: none; }
    footer .terms-logos {
        flex-direction: column;
        align-items: center; }
    .card-logos {
        margin-bottom: 0.5rem; }
    footer .terms a {
        font-size: 0.5rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem; } }

@media (min-width: 630px) {
    .contact-button.right {
        display: none; }
}

button {
    background-color: rgb(224, 158, 82);
    padding: 0.3rem;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    border-color: #000;
    cursor: pointer;
}

.handyUserProfileButtons{
    margin-bottom: 1rem;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url("../img/tools-on-table1.jpg") fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

.home-section h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.home-section .dropdown {
    margin-bottom: 1rem;
}

.home-section .home-btn {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.home-section .home-btn:hover {
    background-color: rgb(168, 119, 63);
}

.handymen {
    min-height: 90vh;
}

.handymen h2 {
    margin: 1rem 0;
}

.handymen-table {
    width: 100%;
    border-collapse: collapse;
    padding-left: 1rem;
}

.handymen-table thead {
    font-size: 1.2rem;
}

.handymen-table tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}

.handymen-table th {
    text-align: left;
}

.handymen-table tbody tr {
    height: 3rem;
    border: 1.1px solid rgb(224, 158, 82);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.handymen-table tbody tr td:first-child {
    padding-left: 1rem;
}

.handymen-table tbody tr:hover {
    background-color: rgb(238, 238, 238);
}

.handymen-table .open-icon {
    height: 2rem;
}

.handyman-search {
    margin-bottom: 1rem;
}

.handyman-search, .handyman-search form {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.handyman-search p, .handyman-search form {
    margin-right: 2rem;
}

.handyman-search input {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 14rem;
}

.handyman-search .dropbtn {
    font-size: 1.3rem;
    margin-right: 3rem;
}

.handyman-profile {
    min-height: 90vh;
}

.handyman-profile .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.handyman-profile h2 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
}

.handyman-profile h3 {
    font-weight: bold;
}

.handyman-profile .trade {
    color: rgb(46, 46, 46);
    font-size: 1.2rem;
}

.review {
    background-color: rgb(224, 195, 161);
    border: 1.1px solid rgb(224, 158, 82);
    border-radius: 5px;
    display: flex;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.review div {
    width: 50%;
}

.review .rating {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.5rem;
}

.review .rating p {
    margin-right: 0.2rem;
}

.review .author {
    text-align: right;
}

.user-information {
    display: flex;
    margin-top: 1rem;
}

.user-information div {
    margin-right: 2rem;
}

.user-information div div {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;

}

.user-information .input-label {
    min-width: 6rem;
}

.user-information input, .user-information select {
    width: 30rem;
    padding: 0.2rem;
}

.user-information textarea {
    width: 30rem;
    padding: 0.2rem;
}

section {
    min-height: 70vh;
}

.user-profile h2 {
    margin-top: 1rem;
}

.user-profile h3 {
    margin-top: 0.5rem;
}

.saved button {
    margin-right: 1rem;
}

.user-profile .saved {
    display: flex;
    align-items: center;
    color: rgb(224, 158, 82);
}

.ad-form h2 {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.ad-form form > div {
    display: flex;
}

.ad-form form > div > div > div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.ad-form .input-label {
    min-width: 4.5rem;
}

.ad-form input, .user-information select {
    width: 30rem;
    padding: 0.2rem;
}

.ad-form textarea {
    width: 30rem;
    padding: 0.2rem;
    margin-left: 3rem;
}

.ad-form button {
    margin-top: 0.5rem;
}

.ads {
    padding-bottom: 2rem;
}

.ads h2 {
    margin-top: 1rem;
    font-weight: 500;
}

.ads .new-ad-btn button {
    margin-top: 1rem;
}

.ads .new-ad-btn {
    display: flex;
    justify-content: flex-end;
}

.ad {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 195, 161);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0.3rem;
    text-decoration: none;
}

.ad:hover {
    background-color: rgb(207, 170, 128);
}

.ad .image {
    height: 16rem;
    margin-bottom: 0.3rem;
}

.ad img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ad p {
    margin-top: 0.3rem;
}

.ad h3 {
    font-weight: 600;
}

.ad .location-time {
    display: flex;
    justify-content: space-between;
}

.ad-info h2 {
    font-weight: 600;
    margin-top: 1rem;
}

.ad-info h2 + hr {
    margin-bottom: 1rem;
}

.ad-info {
    padding-bottom: 2rem;
}

.ad-info .image-col {
    display: flex;
    justify-content: flex-end;
}

.ad-info .image {
    height: 20rem;
}

.ad-info img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 3px solid rgb(224, 195, 161);
    border-radius: 10px;
}

.ad-info .attributes {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
}

.ad-info .attributes p {
    margin-bottom: 1rem;
}

.ad-info .description {
    flex-grow: 1;
}

.ad-info .posted-by {
    margin-top: 1rem;
}

.ad-info .send-btn {
    display: flex;
    justify-content: flex-end;
}

.ad-search {
    margin-bottom: 1rem;
}

.ad-search, .ad-search form {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.ad-search p, .ad-search form {
    margin-right: 2rem;
}

.ad-search input {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 14rem;
}

.ad-search .dropbtn {
    font-size: 1.3rem;
    margin-right: 3rem;
}

.login {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.login form {
    border: 3px solid #f1f1f1;
    padding: 0.5rem;
}

.login input[type=text], .login input[type=password], .login select, .login input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login button {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.login button:hover {
    opacity: 0.8;
}

.login .container {
    padding: 16px;
    background-color: white;
}

.login input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.login hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.login .registerbtn {
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.login .registerbtn:hover {
    opacity: 1;
}

.login a[href="/signuphandy"] {
    font-weight: 600;
}

.login a[href="/signuphandy"] + p {
    margin-top: 1rem;
}

.login .error {
    color: crimson;
}

.profile-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}