* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-style: helvetica;
    color: #222222;
}
main{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}
.column-layout{
    display: flex;
    min-width: 12.5rem;
    justify-content: space-between;
}
.event{
    background-color: #cccccc;
    flex:1;
    width: 31%;
    margin: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
.title{
    word-wrap: break-word;
    font-size: 1.5rem;

}
h1{
    font-size: 20px;
}
.text{
    word-wrap: break-word;

}
header{
    background:transparent url(../../img/tools-on-table1.jpg) no-repeat fixed 50% 50%;
    background-color: #cccccc;
    color: #eeeeee;
    width:100%;
    height:100vh;
    object-fit: cover;
    text-align: center;
    display: flex;
}
header > div{
    margin: auto;

}
