<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>
<div th:switch="${ads}">
    <h2 th:case="null">No Ads yet!</h2>
    <div th:case="*">
        <h2>Ads</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Time posted</th>
                <th>Trade</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ad : ${ads}">
                <td><a th:text="${ad.title}" th:href="@{/ads/{id}(id=${ad.ID})}"></a></td>
                <td th:text="${ad.timePosted}"></td>
                <td th:text="${ad.trade}"></td>
                <td><a th:href="@{/ads/delete/{id}(id=${ad.ID})}">Delete</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/createad">Create new Ad</a></p>
</div>


</body>
</html>