<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Ads</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/icons/handy-icon-small.png" th:href="@{/icons/handy-icon-small.png}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <section class="grid ads">
        <div class="row">
            <div class="col col-12">
                <h2>Advertisements</h2>
            </div>
        </div>
        <div class="row" style="align-items: stretch">
            <div class="col col-4" th:each="ad : ${ads}" style="margin-top: 1rem">
                <a class="ad" th:href="@{/ads/{id}(id=${ad.ID})}">
                    <div class="image">
                        <img th:src="|data:image/jpg;base64,${ad.stringImage}|">
                    </div>
                    <h3 th:text="${ad.title}"></h3>
                    <p th:text="${ad.trade}"></p>
                    <div class="location-time">
                        <p th:text="${ad.location}"></p>
                        <p th:text="${ad.formattedDate}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <button><a href="/createad">Create new Ad</a></button>
            </div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>


</body>
</html>