<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title th:text="|Handy - ${LoggedInUser.name}|"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/icons/handy-icon-small.png" th:href="@{/icons/handy-icon-small.png}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" media="screen" />
    <script th:inline="javascript">

        /*<![CDATA[*/

        var userName = /*[[${LoggedInUser.name}]]*/ 'name';
        var userTrade = /*[[${LoggedInUser.trade}]]*/ 'trade';
        var userInfo = /*[[${LoggedInUser.info}]]*/ 'info';
        var userRate = /*[[${LoggedInUser.hourlyRate}]]*/ 'hourly rate';

        /*]]>*/
        console.log("trade: " + userTrade);
        console.log("info " + userInfo);
        console.log("Rate " + userRate);
    </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <section class="grid user-profile">
        <div class="row">
            <div class="col col-12">
                <h2 th:text="${LoggedInUser.name}"></h2>
            </div>
            <div class="col col-2">
                <button><a th:href="@{/logout}">Log Out</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <form action="#" th:action="@{/savehandyuser}" th:object="${handyUser}" method="post">
                    <h3>Edit your information</h3>
                    <div class="user-information">
                        <div>
                            <div>
                                <label class="input-label" for="input-username">Name</label>
                                <input type="text" id="input-username" placeholder="Name" name="name" th:value="${LoggedInUser.name}">
                            </div>
                            <div>
                                <label class="input-label" for="input-email">Email</label>
                                <input type="email" id="input-email" placeholder="Email" name="email" th:value="${LoggedInUser.email}">
                            </div>
                            <div>
                                <label class="input-label" for="tradeSelect">Trade</label>
                                <select name="trade" id="tradeSelect">
                                    <option th:each="tradeOpt : ${T(is.hi.handy.Persistence.Entities.Trade).values()}" th:value="${tradeOpt}" th:text="${tradeOpt}" th:selected="${LoggedInUser.trade==tradeOpt}"></option>
                                </select>
                            </div>
                            <div>
                                <label class="input-label" for="input-hourlyRate">Hourly rate</label>
                                <input type="number" id="input-hourlyRate" placeholder="0.0" name="hourlyRate" th:value="${LoggedInUser.hourlyRate}">
                            </div>
                        </div>
                        <div>
                            <div>
                                <textarea rows="7" placeholder="A few words about you ..." name="info" th:inline="text">[[${LoggedInUser.info}]]</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="saved">
                        <button type="submit">Save</button>
                        <p th:text="${saved} ? 'Information saved successfully!'"></p>
                    </div>
                </form>
                <div class="row">
                    <div class="col col-10">
                        <h3>Portfolio</h3>
                    </div>
                    <div class="col col-2">
                        <button><a th:href="@{/createPortfolioItem}">Add to your portfolio</a></button>
                    </div>
                    <div class="col col-12 " th:each="portfolioItem : ${myPortfolioItems}">
                        <div class="review">
                            <div th:switch="${portfolioItem.stringImage}">
                                <p th:text="${portfolioItem.title}"></p>
                                <p th:case="null"></p>
                                <img th:case="*" th:src="|data:image/jpg;base64,${portfolioItem.stringImage}|" style="height: 7rem">
                            </div>
                            <div>
                                <div class="rating">
                                    <p th:text="${portfolioItem.location}"></p>
                                </div>
                                <p class="author" th:text="${portfolioItem.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 ">
                <h3>Reviews written</h3>
            </div>
            <div class="col col-12 " th:each="review : ${reviewsWritten}">
                <div class="review">
                    <div>
                        <p th:text="${review.text}"></p>
                    </div>
                    <div>
                        <div class="rating">
                            <p th:text="${review.rating}"></p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                        </div>
                        <p class="author">Review about: <a th:text="${review.handyman.name}" th:href="@{/handymen/{id}(id=${review.handyman.ID})}"></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>