<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-content">
    <div class="col-8">
        <h3 class="mb-0">My account</h3>
    </div>
    <div class="col-4 text-right">
        <a href="#!" class="btn btn-sm btn-primary">Settings</a>
    </div>
</div>
<div class="card-body">
    <form action="#" th:action="@{/myprofile}" th:object="${handyUser}" method="post">
        <h6 class="heading-small text-muted mb-4">User information</h6>
        <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Name</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Name" th:value="${LoggedInUser.name}">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email" th:value="${LoggedInUser.email}">
                    </div>
                </div>
                <div>
                    <select name="trade" id="tradeSelect">
                        <option value="Carpenter">Carpenter</option>
                        <option value="Plumber">Plumber</option>
                        <option value="Painter" th:selected="${LoggedInUser.trade=='Painter'}">Painter</option>
                    </select>
                </div>
                <div>
                    <div class="form-group">
                        <label class="form-control-label" for="input-hourlyRate">Hourly rate</label>
                        <input type="text" id="input-hourlyRate" class="form-control form-control-alternative" placeholder="Hourly rate" th:value="${LoggedInUser.hourlyRate}">
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">

        <!-- Description -->
        <h6 class="heading-small text-muted mb-4">About me</h6>
        <div class="pl-lg-4">
            <div class="form-group focused">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..." th:value="${LoggedInUser.info}">info...</textarea>
            </div>
        </div>

        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>