<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>Handymen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/icons/handy-icon-small.png" th:href="@{/icons/handy-icon-small.png}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" media="screen" />
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            let searchNameForm = document.querySelector(".handyman-search form");
            let nameInput = document.querySelector(".handyman-search input");
            addToUrlParametersFrom(searchNameForm, [nameInput], ["name"]);

            let minMaxRateForm = document.querySelector(".min-max-rating");
            let minInput = document.querySelector(".min-max-rating input[placeholder=min]");
            let maxInput = document.querySelector(".min-max-rating input[placeholder=max]");
            addToUrlParametersFrom(minMaxRateForm, [minInput, maxInput], ["minRate", "maxRate"]);
        });

        function addToUrlParametersFrom(form, inputs, variableNames) {
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                let currentUrl = new URL(window.location.href);
                let queryParams = new URLSearchParams(currentUrl.search.slice(1));
                for(let i = 0; i < inputs.length; i++) {
                    queryParams.delete(variableNames[i]);
                    queryParams.append(variableNames[i], /*encodeURIComponent(*/inputs[i].value/*)*/);
                }
                window.location.replace(currentUrl.toString().split('?')[0]+'?'+queryParams);
            });
        }
    </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <section class="grid handymen">
        <div class="row">
            <div class="col col-12">
                <div>
                    <div>
                        <h2>Available handymen</h2>
                        <div class="handyman-search">
                            <p>Search for a handyman:</p>
                            <form>
                                <input type="text" placeholder="Enter a handyman name" th:value="${nameSearch}">
                                <button type="submit">Search</button>
                            </form>
                            <div class="dropdown">
                                <button class="dropbtn">Select a trade</button>
                                <div class="dropdown-content">
                                    <a th:each="tradeOpt : ${T(is.hi.handy.Persistence.Entities.Trade).values()}" th:text="${tradeOpt}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" th:href="@{${urlBuilder.replaceQueryParam('trade', tradeOpt).toUriString()}}"></a>
                                </div>
                            </div>
                            <form class="min-max-rating">
                                <label>Hourly rate:</label>
                                <input type="number" placeholder="min">
                                <input type="number" placeholder="max">
                                <button type="submit">Apply</button>
                            </form>
                            <button th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" th:attr="onclick=|location.href='${urlBuilder.replaceQueryParam('orderByRating', 'true').toUriString()}'|" onclick="location.href=''">Order by average rating</button>
                            <button onclick="location.href='/handymen'">Clear search</button>
                        </div>
                        <table class="handymen-table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Trade</th>
                                <th>Hourly Rate</th>
                                <th>Average Rating</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="handyman : ${handymen}" th:attr="onclick=|location.href='/handymen/${handyman.ID}'|">
                                <td><strong th:text="${handyman.name}"></strong></td>
                                <td th:text="${handyman.trade}">Painter</td>
                                <td th:text="${handyman.hourlyRate}">69.0</td>
                                <td th:text="${handyman.averageRating}">0.0</td>
                                <td><svg class="open-icon"  viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'><path d='M658 2023l-121-121 878-878-878-878L658 25l999 999-999 999z' fill='#000000'></path></svg></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>