<!DOCTYPE html>
<html lang="is">
<head>
    <title>Handy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/icons/handy-icon-small.png" th:href="@{/icons/handy-icon-small.png}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <section class="home-section">
        <div class="dropdown">
            <button class="dropbtn">What are you looking for?</button>
            <div class="dropdown-content">
                <a href="/handymen?trade=Carpenter">Carpenter</a>
                <a href="/handymen?trade=Plumber">Plumber</a>
                <a href="/handymen?trade=Painter">Painter</a>
            </div>
        </div>
        <button class="home-btn" onclick="location.href='/handymen'">All Handymen</button>
        <button class="home-btn" onclick="location.href='/ads'">All Advertisements</button>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
