<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Handy</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div>
            <h1>Handy</h1>
        </div>
    </header>
<div>
    <a href="signup">Sign up</a>
    <button type="button">Login</button>
</div>

<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Carpenter</a>
        <a href="#">Plumber</a>
        <a href="#">Painter</a>
    </div>
</div>

<div>
    <button type="button">All ads</button>
    <button type="button">All Handymen</button>
    <button type="button">Information</button>
</div>

</body>
</html>