<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Information - Handy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/icons/handy-icon-small.png" th:href="@{/icons/handy-icon-small.png}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <h1>Handy</h1>
    <h2>Created by Björn Borgar Magnússon, Fannar Steinn Aðalsteinsson, Kári Kjærnested og Kári Viðar Jónsson</h2>
    <h3>About</h3>
    <pre>
        Handy is an application which is made for people in need of a helping hand in the shape of specialized handyman or a craftsman.
        Also is it a space for those specialized craftsmen to advertise themselves.
    </pre>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>