<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Handy - Send a message</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/icons/handy-icon-small.png" th:href="@{/icons/handy-icon-small.png}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <section class="grid handyman-profile">
        <div class="row">
            <div class="col col-8 offset-col-2">
                <h2>Messages</h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-8 offset-col-2">
                <h3 th:text="${recipient.name}"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-8 offset-col-2">
                <div class="messages-log">
                    <div class="message" th:each="message : ${messages}">
                        <div th:if="${message.recipient.ID == LoggedInUser.ID}" class="from-name">
                            <p th:text="${message.sender.name}"></p>
                        </div>
                        <div th:if="${message.recipient.ID == LoggedInUser.ID}" class="to-me">
                            <p class="content" th:text="${message.content}"></p>
                            <p class="time" th:text="${message.timeString}"></p>
                        </div>
                        <div th:if="${message.sender.ID == LoggedInUser.ID}" class="from-me">
                            <p class="time" th:text="${message.timeString}"></p>
                            <p class="content" th:text="${message.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-8 offset-col-2">
                <form class="message-form" action="#" th:action="@{/sendMessage/{handymanId}(handymanId=${recipient.ID})}" th:object="${message}" method="post">
                    <textarea th:placeholder="|Write a message to ${recipient.name}|" name="content"></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>