<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>Handymen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/icons/handy-icon-small.png" th:href="@{/icons/handy-icon-small.png}">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/grid.css" th:href="@{/css/grid.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <section class="grid messages">
        <div class="row">
            <div class="row row-2" th:each="message: ${messages}" style="margin:1rem">
                <a class = "message">
                    <h3 th:text="${message.sender.name}"></h3>
                    <h3 th:text="${message.recipient.name}"></h3>
                    <div class="timeMessage">
                        <p th:text ="${message.timePosted}"></p>
                    </div>
                </a>
        </div>
    </section>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>