<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<div th:switch="${users}">
    <h2 th:case="null">No Books yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td><a th:href="@{/users/delete/{id}(id=${user.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>